.highlight code,
.highlight pre {
    color: #cccccc;
    background-color: #3f3f3f
}

.highlight .hll {
    background-color: #49483e
}

.highlight .c {
    color: #75715e
}

.highlight .err {
    color: #960050;
    background-color: #1e0010
}

.highlight .k {
    color: #66d9ef
}

.highlight .l {
    color: #ae81ff
}

.highlight .n {
    color: #f8f8f2
}

.highlight .o {
    color: #f92672
}

.highlight .p {
    color: #f8f8f2
}

.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
    color: #75715e
}

.highlight .gd {
    color: #f92672
}

.highlight .ge {
    font-style: italic
}

.highlight .gi {
    color: #a6e22e
}

.highlight .go {
    color: #66d9ef
}

.highlight .gp {
    color: #f92672;
    font-weight: 700
}

.highlight .gs {
    font-weight: 700
}

.highlight .gu {
    color: #75715e
}

.highlight .kc,
.highlight .kd {
    color: #66d9ef
}

.highlight .kn {
    color: #f92672
}

.highlight .kp,
.highlight .kr,
.highlight .kt {
    color: #66d9ef
}

.highlight .ld {
    color: #e6db74
}

.highlight .m {
    color: #ae81ff
}

.highlight .s {
    color: #e6db74
}

.highlight .na {
    color: #a6e22e
}

.highlight .nb {
    color: #f8f8f2
}

.highlight .nc {
    color: #a6e22e
}

.highlight .no {
    color: #66d9ef
}

.highlight .nd {
    color: #a6e22e
}

.highlight .ni {
    color: #f8f8f2
}

.highlight .ne,
.highlight .nf {
    color: #a6e22e
}

.highlight .nl,
.highlight .nn {
    color: #f8f8f2
}

.highlight .nx {
    color: #a6e22e
}

.highlight .py {
    color: #f8f8f2
}

.highlight .nt {
    color: #f92672
}

.highlight .nv {
    color: #f8f8f2
}

.highlight .ow {
    color: #f92672
}

.highlight .w {
    color: #f8f8f2
}

.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
    color: #ae81ff
}

.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2 {
    color: #e6db74
}

.highlight .se {
    color: #ae81ff
}

.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
    color: #e6db74
}

.highlight .bp {
    color: #f8f8f2
}

.highlight .fm {
    color: #a6e22e
}

.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
    color: #f8f8f2
}

.highlight .il {
    color: #ae81ff
}